<div class="container">
    <div class="row">
        <div id="htmlData">
            <h2>Lista de Personajes de Breaking Bad</h2>
            <table class="table table-bordered mt-4">
                <tr class="table-primary">
                    <th>Nombre</th>
                    <th>Apodo</th>
                    <th>Actor</th>
                    <th>Ocupación</th>
                </tr>
                <tr *ngFor="let character of characters ">
                    <th>{{character.name}}</th>
                    <td>{{character.nickname}}</td>
                    <td>{{character.portrayed}}</td>
                    <td>{{character.occupation}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>